<div class="memoria">
  <h2>Informações da Memória</h2>
  <div class="inside">
    <div class="center">
      <canvas style="height: 250px;" baseChart
        [data]="barChartData"
        [options]="barChartOptions"
        [plugins]="barChartPlugins"
        [legend]="barChartLegend"
        [type]="'bar'">
      </canvas>
    </div>
    <div>
      <canvas class="pie" baseChart
        [type]="'pie'"
        [datasets]="pieChartDatasets"
        [labels]="pieChartLabels"
        [options]="pieChartOptions"
        [plugins]="pieChartPlugins"
        [legend]="pieChartLegend">
      </canvas>
    </div>
  </div>
</div>
